.sector-focus{
    background-color: rgb(255, 255, 255);
    margin-bottom:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sector-focus__content{
    width: 65%;
    color: rgb(169, 177, 188);
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}
.sector-focus__title{
    color: rgb(46, 63, 95);
    font-size: 50px;
}
.sector-focus__footer{
    display: flex;
    color: rgb(46, 63, 95);
    font-weight: 15px;
    margin-top: 20px;
}
.sector-focus__link{
    font-weight: 50px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(217, 64, 133);
}
.link-line{
    border: 1px solid rgb(236, 236, 248);
    margin-left: 5px;
    margin-right: 5px;
}
    


.block-awards__number{
    font-size: 200px;
    color: rgb(100, 255, 218);
    font-family: 'Fira Code Light', monospace; 
    margin-right: 10px;
}
.block-awards__title{
    display: block;
    font-size: 70px;
    color: rgb(204, 214, 246);
    font-size: 30px;
    align-items: center;
}
.block-awards__title--support{
    display: block;
    color: rgb(204, 214, 246);
    font-size: 30px;
    align-items: center;
    max-width: 20%;
}
.block-awards__description{
    width: 100%;
    line-height: 30px;
    color: rgb(126, 134, 145);
   
}
.block-awards__logo{
    width: 350px;
    height: 400px;
}
.block-awards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.block-awards__synthetic{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.banner{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
  
    background-color: rgba(41, 61, 90, 0.99);
    padding-bottom: 50px;

}

.block-awards__title {
    /* color: rgb(204, 214, 246);; */
    display: flex;

}
.block-awards__content {
    color: rgb(204, 214, 246);;
}


.banner__button{
    align-items: center;
    background-color:rgb(17, 169, 200);
    border-radius: 3px;
    color: #fff;
    display: inline-flex;
    font-weight: 900;
    min-height: 20px;
    justify-content: center;
    min-width: 120px;
    padding: 13px 26px;
    cursor: pointer;
    font-size: 14px;
}
.banner__button:hover{
    background-color:rgb(12, 134, 158);
}